@import 'reset';
@import 'vars';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}

body {
  font-family: AvenirNext, sans-serif;
  font-weight: 200;
}

.hero {
  background-image: url(../assets/img/hero.png);
  background-size: cover;
  height: 50vh;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  background-repeat: no-repeat;

  & h1 {
    color: var(--pink);
  }

  & .container {
    width: 96rem;
  }
}

.smalltext {
  margin-top: 1rem;
  font-size: 2.6rem;
  color: white !important; /*stylelint-disable-line*/
  text-shadow: .1rem .1rem 0 var(--pink);
  margin-bottom: 2rem;
}

.center {
  display: flex;
  justify-content: center;
}

p {
  font-size: 1.7rem;
  line-height: 2rem;
}

.container {
  max-width: 96rem;
  align-items: center;
  margin: 0 auto;
}

nav {
  padding: 2rem 0;

  & a {
    font-size: 1.6rem;
    font-family: AvenirNext, helvetica, sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;

    &:hover {
      color: var(--pink);
    }
  }
}

.active {
  color: var(--pink);
}

.nav {
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
}

nav ul li {
  margin-right: 2rem;
}

.news {
  margin-top: 6rem;
  display: flex;
  margin-bottom: 6rem;
  align-items: center;
  color: white;

  & h3 {
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
  }

  & .blue {
    background-color: var(--blue);
    width: 100%;
    padding: 3rem;
    height: 20rem;
    display: flex;
    align-items: center;

    & h3 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  & .green {
    background-color: var(--green);
    width: 100%;
    padding: 3rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & form {
      display: flex;
      margin-top: 1rem;

      & input[type='submit'] {
        background-color: var(--blue);
        color: white;
        font-weight: 600;
        margin: 0;
        font-size: 1.4rem;
        padding: 0 3rem;
      }

      & input[type='text'] {
        flex-grow: 1;
        margin: 0;
        border: .1rem solid var(--blue);
      }
    }
  }
}

h1 {
  font-family: Texgyreschola, times, serif;
  font-size: 8rem;
  color: white;
}

h2 {
  margin-bottom: 1.3rem;
  font-size: 2.7rem;
  font-weight: 300;
  font-family: AvenirNext, sans-serif;
}

.programma {
  display: flex;
  align-items: center;
  background: url(../assets/img/programma.jpg);
  height: 25rem;
  background-size: cover;
  background-position: 0 56rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 7rem;

  & form {
    margin-top: 3rem;
    display: flex;
  }

  & .container {
    width: 96rem;
  }
}

.event {
  color: white;
  min-width: 30rem;
  min-height: 35rem;
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  margin: 1rem;
  flex-grow: 1;
}

.picturecontainer {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.centerimage {
  justify-content: space-around !important; /*stylelint-disable-line*/
}

.picturecontainer source, .picturecontainer img {
  width: 100%;
  object-fit: cover;
}

.events {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.event_title {
  font-family: AvenirNext, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: .8rem;
}

.event_container {
  background-color: rgba(40, 178, 155, .9);
  height: 21rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.date_event {
  position: absolute;
  top: 0;
  right: 1rem;
  color: white;
  font-family: AvenirNext, sans-serif;
  font-weight: 400;
  align-self: flex-end;
  font-size: 2rem;
  margin: 1rem;
  background-color: var(--blue);
  padding: 1rem;
}

textarea:focus, input:focus {
  outline: none;
}

*:focus { /*stylelint-disable-line*/
  outline: none;
}

input {
  border: 0;
  padding: 1rem;
  height: 3.5rem;
  -webkit-appearance: none; /*stylelint-disable-line*/
  border-radius: 0;
}

select {
  margin-right: 1rem;
  color: #75757b;
  border: 0;
  padding: 1rem;
  height: 3.7rem;
  overflow: hidden;
  background: url(../assets/img/dropdown.svg) no-repeat 100% 0 white;
  width: 15rem;
  -webkit-appearance: none; /*stylelint-disable-line*/
  -webkit-border-radius: 0; /*stylelint-disable-line*/
}

.search {
  width: 3.5rem;
  height: 3.5rem;
  background: url(../assets/img/search.svg);
}

.socialbutton {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.search_field {
  color: white;
  background-color: rgba(255, 255, 255, .2);
}

footer {
  margin-top: 4rem;
  background: black;
  color: white;
}

.footer {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.social {
  text-align: right;
}

h3 {
  font-size: 1.8rem;
}

.small {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.nieuwsbrief p {
  margin-bottom: 1rem;
}

.send {
  background-color: var(--pink);
  color: white;
}

.shortinfo {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* stylelint-disable-line */
}

.event_link {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  background-color: var(--blue);
  padding: .6rem;
  width: 10rem;
  text-align: center;
  transition: .2s;
  margin-top: 1.5rem;

  &:hover {
    color: var(--blue);
    background-color: white;
  }
}

aside {
  color: white;
  background-color: var(--blue);
  min-width: 24rem;
  padding: 3rem;
  margin-left: 2rem;
  align-self: flex-start;
  margin-top: 4rem;

  & h3 {
    margin-top: 0 !important; /*stylelint-disable-line*/
    margin-bottom: .5rem;
    font-size: 1.6rem;
  }

  & li {
    font-size: 1.3rem;
    font-weight: 100;
    background-color: var(--green);
    padding: .2rem .7rem;
    width: auto;
    display: inline-block;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: .5rem;
    margin-left: 0 !important; /*stylelint-disable-line*/
    margin-top: 0 !important; /*stylelint-disable-line*/
  }

  & address {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

.flex {
  display: flex;
}

.border {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: .1rem solid var(--green);
  border-bottom: .1rem solid var(--green);
  padding: 1rem 0;
}

.gray {
  padding: 3rem 0;
  background-color: #f1f0ef;
  margin-bottom: 4rem;
}

.images_pratical {
  display: flex;
  flex-direction: column;
  width: 50%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:first-child {
      margin-bottom: 2rem;
    }
  }
}

.pratical {
  display: flex;
  justify-content: space-between;
}

.pratical_text {
  width: 45%;

  & h2 {
    font-family: AvenirNext, helvetica, sans-serif;
    font-weight: 300;
  }

  & h3 {
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  & h4 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  & li {
    font-size: 1.7rem;
    list-style-type: circle;
    margin-left: 3rem;
    margin-bottom: .5rem;
  }

  & address {
    font-size: 1.7rem;
  }

  & ul {
    margin-bottom: 2rem;
  }

  & p {
    margin-bottom: 1rem;
  }

  & a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }
}

.detail_title {
  margin-top: 4rem;
}

.detail_info-items {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;

  & li {
    display: flex;
    align-items: center;
  }
}

.detail_info {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  transform: translateY(-7rem);
  padding: 2rem 0;

  & a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header_detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40rem;
  width: 100%;
}

.title {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}

.detail_header_all {
  position: absolute;
  top: 0;
  width: 100%;
}

.all {
  position: relative;
  height: 40rem;
  width: 100%;
}

.detail_banner {
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, .5);
}

.detail {
  margin-bottom: 4rem;

  & h3 {
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  & h4 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  & p {
    margin-right: 7rem;
    margin-bottom: .5rem;
  }

  & li {
    font-size: 1.7rem;
    list-style-type: circle;
    margin-left: 3rem;
    margin-bottom: .5rem;
  }

  & ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.watisdeweek {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 10rem;

  & img {
    margin-right: 5rem;
  }
}

.flextext {
  display: flex;
  flex-direction: column;
}

.partner_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fullprogram {
  display: flex;
  justify-content: center;
}

.top_event {
  display: flex;
  justify-content: space-between;

  & p {
    font-size: 1.5rem;
  }
}

.hide {
  display: none !important; /*stylelint-disable-line*/
}

.button {
  padding: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  width: auto;
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  display: inline-block;
  box-shadow: .3rem .3rem 0 var(--green);
  transition: .2s;

  &.pinkgreen {
    background-color: var(--pink);
  }

  &.bluegreen {
    background-color: var(--blue);
    text-align: center;
    align-self: center;
  }

  &:hover {
    box-shadow: none;
  }
}

.location {

  &::before {
    margin-right: .2rem;
    content: '';
    width: 2rem;
    height: 3rem;
    display: inline-block;
    background: url(../assets/img/location.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.date {

  &::before {
    margin-right: 1rem;
    content: '';
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background: url(../assets/img/date.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.time {

  &::before {
    margin-right: 1rem;
    content: '';
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background: url(../assets/img/time.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

}

.link {

  &::before {
    margin-right: 1rem;
    content: '';
    width: 3rem;
    height: 3rem;
    display: inline-block;
    background: url(../assets/img/link.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

}

.reset {
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  background: none;
  padding: 0;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.organiser {
  color: white;

  & li:hover {
    background-color: var(--darkgreen);
    color: white;
  }

  & a {
    text-decoration: none;

  }
}

.duotone::before {
  background-color: var(--green);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0;
}

.duotone::after {
  background-color: var(--blue);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 960px) {

  .title {
    justify-content: center;
  }

  .container {
    margin: 0 5%;
  }

  .watisdeweek {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .picturecontainerHome img, .picturecontainerHome source {
    width: 100%;
  }

  .flextext {
    width: 77%;
    margin-left: 5rem;
  }

  .hero .container {
    width: inherit;
  }

  .programma {

    margin-top: 4rem;
    margin-bottom: 4rem;
    background-position: center;

    & .container {
      margin: 0;
    }
  }

  .detail {
    margin-bottom: 5rem;
  }

  .news {
    margin-bottom: 6rem;
  }

}

@media only screen and (max-width: 750px) {

  .detail_banner {
    font-size: 7vw;
    text-align: center;
  }

  .header_detail {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .title {
    margin: 0 auto;
    height: 76%;
  }

  .watisdeweek {
    flex-direction: column;

    & img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }

  .flextext {
    width: 100%;
    margin-left: 0;
  }

  .news {
    flex-direction: column;
    text-align: center;

    & .blue {
      justify-content: center;
    }
  }

  .header {
    flex-direction: column;

    & input {
      margin-bottom: 2rem;
    }
  }

  .detail {
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 6rem;
  }

  .pratical {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }

  .pratical_text, .images_pratical {
    width: 100%;
  }

  .images_pratical {

    margin-top: 3rem;
    align-items: center;

    &img {
      width: 100%;
    }
  }

  aside {
    width: 100%;
    margin: 0;
    margin-top: 4rem;
  }

  .detail p {
    margin: 0;
  }

  .detail section {
    margin-top: -7rem;
  }

}

@media only screen and (max-width: 700px) {

  .partner_container {
    justify-content: space-around;
    flex-wrap: wrap;

    & img {
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 630px) {

  h1 {
    font-size: 10vw;
  }

  .hero {
    text-align: center;
  }
}

@media only screen and (max-width: 560px) {

  .programma {
    background-position: center;
    padding: 2rem;
  }

  .detail_info-items {
    flex-direction: column;
  }

  .detail_info {
    transform: translateY(-16rem);
  }

  .title {
    height: 55%;
  }
}

@media only screen and (max-width: 425px) {

  nav ul {
    flex-direction: column;

    & li {
      margin-bottom: 1.5rem;
      text-align: center;
      margin-right: 0;
    }
  }

  .header {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .programma {
    margin: 0;
    margin-bottom: 2rem;
    height: 23rem;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  input[name='postal'] {
    margin-top: 2rem;
  }

  .social {
    text-align: center;
    margin-top: 4.5rem;
  }

  .mobileSearch {
    width: 100%;
    display: flex;

    & input[type='text'] {
      flex-grow: 1;
    }
  }

  .mobileSearch-Programma {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    & select {
      width: 100%;
    }
  }

  .mobile-input-flex {
    display: flex;
    width: 100%;
    align-items: baseline;

    & input[type='text'] {
      flex-grow: 1;
    }
  }

  input, select {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 2rem;
  }

  .reset {
    font-size: 1.7rem;
  }

}

@media only screen and (max-width: 320px) {

  .news form {
    flex-direction: column;
  }
}
